*{
    box-sizing:border-box;
}
body{
    margin:0px;
    

}
.row{

    width:100%;
    color:white;   
}
.row1{
    height:60px;
    background-color:black;
    font-size:14px;
    
}
.col{
    float:left;
    height:100%;
    font-size:14px; 
    font-family:Arial, Helvetica, sans-serif;
}
.col1{

    height:58px;
    margin-left:11px;
    padding:1px 8px 0px 6px;
    margin-top:1px;
    margin-bottom:1px;

}
.col2{

    width:91px;
    margin-left:6px;
    font-size:14px; 

}
.col21-0{

    width:26px;
    margin-top:18px;
    float:left;
   

}
.col21-1{

    width:63px;
    height:18px;
    float:left;
    font-size:13px;
    margin-top:5px;

}
.col21-2{

    width:63px;
    height:16px;
    float:right;
    font-size:16px;

}
.col3 {
    width:666px;


    margin:0px 6px;
    padding:10px 4px 10px 3px;
}
.row22{

    height:40px;
    width:659px;

}
.col22-1{
    background-color:#EFEFEF;
    font-size:14px;
    height:39px;
    width:103px;
    float:left;
    padding:12px 5px 7px 5px;
    color:black;
    


}
.text{

    height:39px;
    width:510px;
    float:left;


}
.col22-2{

    height:39px;
    width:43px;
    float:left;
}
.col4{
    width:73px;

    margin-left:1px;
}
.col5{
    width:131px;

    padding:12px 9px 11px 18px;
    margin:0px 0px 0px 2px;
    


}
.col6{
    width:81px;

    margin: 0px 0px 0px 2px;
    padding:14px 10px 10px;
    font-size:14px;
}
.col7{
    width:84px;

    margin-left:2px;
}
.row2{
    height:39px;
    background-color:#232F3E;
    

}
.col2-1{
    width:58px;
    height:39px;
    margin-left:11px;



}
.img2 {
    width:58px;
    height:39px;
    margin-left:11px;
    border:solid 1px red;
}
.write{
    width:58px;
    height:39px;
    margin-left:11px;

}
.col2-2{
    height:28px;
    margin:5px 0px 6px;
    padding:8px 9px;
    margin-left:5px;
}
.col2-3{
    height:28px;
    margin:5px 0px 6px;
    padding:8px 9px;
    margin-left:5px;
}
.col2-4{
    height:28px;
    margin:5px 0px 6px;
    padding:8px 9px;
    margin-left:5px;
}
.col2-5{
    height:28px;
    margin:5px 0px 6px;
    padding:8px 9px;
    margin-left:5px;
}
.col2-6{
    height:28px;
    margin:5px 0px 6px;
    padding:8px 9px;
    margin-left:5px;

}
.col2-7{
    height:26px;
    margin:6px 2px 7px 1px;
    padding:5px 8px 6px;
    float:right;
}
.row3{
    height:249px;    
    width:1243px;    
    margin:14px 18px 18px 18px;
}
.row4{
    width:1243px;
    height:315px;
    margin:14px 18px 18px 18px; 
}
.col4-1{
    width:295px;
    height:315px;
}
.col4-2{
    width:295px;
    height:315px;
    margin-left:20px;
}
.col4-3{
    width:295px;
    height:315px;
    margin-left:20px; 
}
.col4-4{
    width:296px;
    height:315px;
    margin-left:20px;
}
.row5{
    width:1243px;
    height:315px;
    margin:14px 18px 18px 18px;
}
.col5-1{
    width:295px;
    height:315px;
}
.col5-2{
    width:295px;
    height:315px;
    margin-left:20px;   
}
.col5-3{
    width:295px;
    height:315px;
    margin-left:20px;  
}
.col5-4{
    width:296px;
    height:315px;
    margin-left:20px;
}
.row6{
    width:1243px;
    height:219px;
    margin:14px 18px 18px 18px;
}
.row7{
    width:1279px;
    height:49px;
    background-color:#3a4553;
    
}
.row8{
    width:1279px;
    height:400px;
    background-color:#232F3E;
}
.num{
    width:1000px;
    height:318px;
    margin-left:130px;
    margin-top:42px;
}
.num1{
    width:136px;
    height:318px;
}
.num2{
    width:184px;
    height:318px;
    margin-left:76px;
}
.num3{
    width:222px;
    height:318px;
    margin-left:76px;   
}
.num4{
    width:222px;
    height:318px;
    margin-left:76px;
}
